.todo-list {
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-text {
    background-color: #fff;
    width: 80%;
    font-size: 20px;
}
.delete-btn, .edit-btn {
    float: right;
    margin-top: 6px;
}
.container {
    background-color: rgb(240, 157, 49);
    width: 38%;
    margin: -40px auto;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 5px;
}
.list-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}
.input-checkbox {
    margin-top: 6px;  
}
.active {
    text-decoration: line-through;
    width: 80%;
    background-color: #fff;
    color: green;
    font-size: 20px;
}

/****** MEDIA QUERIES******/
@media screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .todo-list {
        width: 100%;
    }
    .input-text {
        width: 60%;
    }
    .active {
        width: 60%;
    }
}

